.customInput {
  padding: 15px;
  color: rgb(16, 56, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  text-align: center;
}
.customInput1 {
  padding: 15px;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  display: flex;
  width: 35%;
}

.customButton {
  margin: auto;
  display: block;
  background-color: rgb(37, 131, 95);
  color: white;
  text-decoration: rgb(37, 131, 95);
  padding: 14px;
  border-radius: 25px;
}

.parent {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
}
